/* Files CSS Imports */
@import './screen.css';

/* General Styles */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Variables */
:root {
    --black: #000000;
    --white: #FFFFFF;
    --font-size-sm: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;
    --breakpoints-sm: 576px;
    --breakpoints-md: 992px;
}